@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children in a column */
}

/*I need to change this below*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  width: min(1170px, calc(100% - 32px));
}

.unique-row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #2E3A48;
  /*box-shadow: 0 0 5px #cccccc;*/
  padding: 50px 0; /* Increased padding to create more space */
  margin-top: auto; /* Push footer to the bottom */
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 25px; /* Adjusted margin */
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: red;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #5b6978;
  padding-left: 8px;
}

/* The Social Media Links CSS */
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #5b6978;
}

/* The Copyright CSS */
.footer .copyright p{
 
  text-align: center;
  width: 100%;
  color: #ffffff;
  margin-top: 20px; /* Adjusted margin-top for more space */
}

/* Responsive styles */
@media (max-width: 767px) {
  .footer {
    padding: 40px 0 24px;
  }

  .footer-col h4 {
    margin-bottom: 20px;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-container {
    width: calc(100% - 24px);
  }

  .footer-col {
    width: 100%;
    padding: 0;
  }

  .footer-col .social-links a {
    margin-right: 8px;
  }
}
